body {
  line-height: 1.5;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

nav ul {
  padding: 0;
  list-style-type: none;
}
