---
import Portfolio from "../layouts/Portfolio.astro";
import Hero from "../components/hero/Hero.svelte";
---

<Portfolio title="Portfolio">
  <main>
    <Hero client:load />
  </main>
</Portfolio>

<style>
  main {
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
    min-height: 100vh;
  }
</style>
