<div class="words">
  <h1 class="rotate_word"></h1>
</div>

<script is:inline>
  let index = 1;

  const output = document.querySelector(".rotate_word");

  const words = ["front", "back"];
  setInterval(() => {
    output.innerHTML = `${words[index]}`;
    index = index + 1;
    if (index == words.length) index = 0;
  }, 5000);
</script>

<style>
  div {
    overflow: hidden;
    font-size: 20px;
  }
  h1 {
    display: block;
    position: relative;
    overflow: hidden;
    animation: rotate_word_animation 5s infinite;
  }

  @keyframes rotate_word_animation {
    0% {
      transform: translate3d(0, -80px, 0);
      opacity: 0;
    }
    20%,
    80% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    100% {
      transform: translate3d(0, 40px, 0);
      opacity: 0;
    }
  }
</style>
